@import "tailwindcss";

body {
  background-color: hsl(159, 56%, 7%);
  color: white;
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: hsl(155, 43%, 18%);
  }
  a:hover {
    color: hsl(141, 45%, 81%);
  }
} 
